{% set links = {
	"Home": "/",
	"Profiles": "/profiles/"
} %}
<nav>
	
	<ul>
		{% for key, value in links %}
			<li>
				<a href="{{value}}" {{ page.url === value and 'aria-current=page' or "" }}>
					{{key}}
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>