$nav-bg: white;
$nav-link-color: black;
$nav-link-current: rgba(#000000, 0.25);
$nav-shadow: 2px 4px 5px 1px rgba($color: #000000, $alpha: 0.5);

$body-bg: #ccc;

$box-bg: white;
$box-shadow: 2px 4px 5px 1px rgba($color: #000000, $alpha: 0.5);

$collapsible-bg: white;
$collapsible-header-bg: #ccc;
$collapsible-border: 2px outset $collapsible-header-bg;
$collapsible-border-radius: 2px;

$list-bg: #e7ffd7;
$list-header-bg: YellowGreen;
$list-border: 2px outset $list-header-bg;

$pref-bg: #fff;
$pref-header-bg: Turquoise;
$pref-border: 2px outset $pref-header-bg;


body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: $body-bg fixed 100vw 100vh;
  font-size: 16px;
  line-height: 1;
}

p {
  margin: 0.5em 0;
}

#skip-links {
  position: absolute;
  top: -3em;
  z-index: 99;

  a {
    position: relative;
    color: black;
    background-color: white;

    &:focus {
      top: 3em;
    }
  }
}

nav {
  position: sticky;
  top: 0;
  margin-bottom: 1em;
  background-color: $nav-bg;
  box-shadow: $nav-shadow;
  
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    margin: auto;
    max-width: 720px;
    background: $nav-bg;
  }
  
  li {
    padding: 0;
    margin: 0;
    flex-grow: 1;

    &:not(:last-child) {
      border-right: 1px solid rgba(0,0,0,0.5);
    }
  }
  
  a {
    display: block;
    padding: 0.5em 1em;
    transition: background-color 200ms;
    color: $nav-link-color;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;

    &:hover, &[aria-current=page] {
      background-color: $nav-link-current;
    }
  }
}

.box {
  margin: auto;
  max-width: 720px;
  box-sizing: border-box;
  padding: 1em 2em;
  background: $box-bg;
  border: 1px solid rgba($color: #000000, $alpha: 0.25);
  box-shadow: $box-shadow;
}

.collapsible {
  overflow: hidden;
  margin: 0.5em 0 1em;
  border: $collapsible-border;
  border-radius: $collapsible-border-radius;

  > header {
    background-color: $collapsible-header-bg;

    .collapsible-button {
      padding: 0.25em 1em;
      background: transparent;
      display: block;
      width: 100%;
      border: none;
      cursor: pointer;
      text-align: left;
      font-weight: bold;

      &::before {
        content: "▲ ";
      }
    }
  }

  .collapsible-content {
    padding: 0.5em 1em;
  }

  &[aria-expanded=false] {
    .collapsible-button {
      &::before {
        content: "▼ ";
      }
    }

    .collapsible-content {
      display: none;
    }
  }
}

.collapsible-list {
  background-color: $list-bg;
  border: $list-border;
  
  > header {
    background-color: $list-header-bg;

    .collapsible-button {
      font-size: 1em;
  
      h3 {
        display: inline;
        margin: 0;
      }
    }
  }
}

.collapsible-preference {
  border: $pref-border;
  margin-bottom: 0.5em;

  > header {
    background-color: $pref-header-bg;

    .collapsible-button {
      font-size: 1em;
    }
  }

  > .collapsible-content {
    padding: 0;
    display: grid;
    grid-template-areas: 
    "definition opinions"
    "preference opinions";
    grid-template-columns: auto 33%;
    gap: 1px;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
}

.pref-definition {
  grid-area: definition;
  background-color: $pref-bg;
  padding: 0 0.5em;
}

.pref-opinion-description {
  grid-area: preference;
  background-color: $pref-bg;
  padding: 0 0.5em;
}

.pref-opinions {
  grid-area: opinions;
  background-color: LightCyan;
  padding: 0 0.5em;
}


.opinion {
  background-color: LightCyan;
  padding: 0.5em;
  text-align: center;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,0.125);
  }
}

.opinion-symbol {
  display: inline;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: white !important;
  }
}