---
pageTitle: Example
---

<h1>My fucking profile</h1>

Here is an example of a profile!

<h2>
	Preferences
</h2>

{% collapsible "Collapsible name", false %}
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus delectus nulla saepe! Vel omnis aut fugiat iure dolorum ut pariatur ea nisi dolorem aperiam, laboriosam consequuntur accusamus eaque vero nihil.
	
	Sint, debitis error odio iusto officiis doloribus placeat temporibus recusandae aliquam dolor quo illo laborum quibusdam, non delectus sapiente quis eaque vitae! Illo ex blanditiis ut odio assumenda saepe eos!

	Sint quod dolore quae eos iste, atque architecto, dolorem, ut quis tenetur nulla eaque vitae unde. Debitis incidunt maiores sit assumenda laborum est ea alias. Alias consectetur officiis iure maxime.
{% endcollapsible %}

{% preferenceList "Example List", true %}
	{% preference "example", ["ooc-love", "ic-love"] %}
Yeahuajahjasdasdka

Lorem ipsum dolor sit amet consectetur adipisicing elit. 

Hic, velit exercitationem adipisci minus atque aspernatur dolores obcaecati saepe vel repellat et sapiente nisi eum a harum, fugit, natus nihil asperiores?
	{% endpreference %}
	{% preference "example-2", ["ic-love", "love"] %}
Yeahuajahjasdasdka

Lorem ipsum dolor sit amet consectetur adipisicing elit. 

Hic, velit exercitationem adipisci minus atque aspernatur dolores obcaecati saepe vel repellat et sapiente nisi eum a harum, fugit, natus nihil asperiores?
	{% endpreference %}
	{% preference "example", ["ooc-love", "ic-love"] %}
Yeahuajahjasdasdka

Lorem ipsum dolor sit amet consectetur adipisicing elit. 

Hic, velit exercitationem adipisci minus atque aspernatur dolores obcaecati saepe vel repellat et sapiente nisi eum a harum, fugit, natus nihil asperiores?
	{% endpreference %}
	{% preference "example-2", ["ic-love", "love"] %}
Yeahuajahjasdasdka

Lorem ipsum dolor sit amet consectetur adipisicing elit. 

Hic, velit exercitationem adipisci minus atque aspernatur dolores obcaecati saepe vel repellat et sapiente nisi eum a harum, fugit, natus nihil asperiores?
	{% endpreference %}
{% endpreferenceList %}