---
pageTitle: Example
---

Here is an example of a list!

<h2>
	Preferences
</h2>

{% preferenceList "Example List", true %}
	{% preference "example", ["ooc-love", "ic-love", "love"] %}
Yeahuajahjasdasdka

Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, velit exercitationem adipisci minus atque aspernatur dolores obcaecati saepe vel repellat et sapiente nisi eum a harum, fugit, natus nihil asperiores?
	{% endpreference %}
{% endpreferenceList %}